{% extends 'catalog/base.html' %}

{% block content %}
<div class="row">
    <div class="col-3"></div>
    <div class="col-8">
        <h3>Пользователь с такой почтой не обнаружен!</h3>
        <p>Проверьте правильность email адреса и попробуйте снова.</p>
        <div class="row">
            <div class="col-4">
                <a href="{% url 'users:reset_password' %}" class="btn btn-outline-danger">Попробовать еще раз</a>
            </div>
        </div>
        <p></p>
        <img src="/media/users/user_not_found.png" class="img-fluid" alt="...">
    </div>
</div>
{% endblock %}