{% extends 'catalog/base.html' %}

{% block content %}
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="card">
            <div class="card-header">
                <h6>Введите почту, которую указывали при регистрации!</h6>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <label for="email">Email:</label>
                    <input type="email" name="email" required>
                    <button type="submit" class="p-2 btn btn-outline-danger">Сбросить пароль</button>
                </form>
            </div>
            <div class="card-footer">
                <img src="/media/users/password.jpg" class="img-fluid" alt="...">
            </div>
        </div>
    </div>
</div>
{% endblock %}
