{% extends 'catalog/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h3>Профиль</h3>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
<!--                    {{ form.as_p }}-->
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-success">Сохранить</button>
                    <a href="{% url 'users:reset_password' %}" class="btn btn-outline-danger">Изменить пароль</a>
                </form>
            </div>
            <div class="card-footer"></div>
        </div>
    </div>
    <div class="col-3">
        <img src="/media/{{ user.avatar }}" class="img-fluid" onerror="this.src='/media/users/demo-avatar.avif'">
        {% if user.phone %}
            <p>{{ user.phone }}</p>
        {% else %}
            <p>Телефон не указан</p>
        {% endif %}
        {% if user.country %}
            <p>{{ user.country }}</p>
        {% else %}
            <p>Страна не указана</p>
        {% endif %}
    </div>
    </div>
{% endblock %}
